/Alquiler.class
/Contratable.class
/Herramienta.class
/Oficio.class
/Servicio.class
/ServicioEstandar.class
/ServicioPersonalizado.class
/Trabajador.class
/Trabajo.class
/Usuario.class
/TipoComision.class
